.ps_corpo{
    		background-color: rgb(255,255,255);
    		width: 100%;
    		height: 100%;
    		position: relative;
    		-webkit-user-select: none;
    		   -moz-user-select: none;
    		    -ms-user-select: none;
    		        user-select: none;
    	}

    	.ps_faixa_superior{
            background: rgb(84, 12, 124);
            background: -moz-linear-gradient(277deg, rgb(84, 12, 124) 30%, rgb(84, 12, 93) 90%);
            background: -webkit-linear-gradient(277deg, rgb(84, 12, 124) 30%, rgb(84, 12, 93) 90%);
            background: -o-linear-gradient(277deg, rgb(84, 12, 124) 30%, rgb(84, 12, 93) 90%);
            background: -ms-linear-gradient(277deg, rgb(84, 12, 124) 30%, rgb(84, 12, 93) 90%);
            background: linear-gradient(7deg, rgb(84, 12, 124) 30%, rgb(84, 12, 93) 90%);
    		padding: 1rem;
    		position: relative;
    		top: 0;
    		text-align: center;
    		width: 100%;
    	}
        .bg-prodesp{
            background: rgb(84, 12, 124) !important;
            color: white !important;
        }
    	.ps_fs_h1{
    		color: white;
    		font-weight: 700;
    		font-size: 3,4rem;
    	}
    	.ps_faixa_inferior{
            margin: 0 auto;
    		background-color: rgba(255,255,255,1);
    		position: fixed;
    		bottom: 0;
    		width: 100%;
    	}
    	.ps_ult_chamadas{
            background-color: rgb(84,12,124);
    		color: rgba(255,255,255,1);
    		font-size: 3rem;
    		font-weight: 600;
    		padding-right: 3rem;
    	}
    	.ps_inf_senha{
    		color: rgba(84,12,124, .75);
    		font-size: 2.2rem;
    		font-weight: 600;
    		text-align: center;
    		padding: 1.5rem .7rem 0 .7rem;
    	}

    	.ps_senha{
    		font-size: 16rem;
    		text-align: center;
    		padding: .7rem;
    		color: rgb(84,12,124);
    		font-weight: 700;
    	}
    	.ps_inf_orgao{
    		position: relative;
    		color: rgba(84,12,124, .75);
    		font-size: 2.2rem;
    		font-weight: 600;
    		text-align: center;	
    		padding: 0 0 1rem 0;
    	}
    	.ps_orgao{
    		font-size: 4.5rem;
    		text-align: center;
    		padding: 0 1rem;
    		color: rgb(84,12,124);
    		font-weight: 700;
    	}

    	.ps_inf_mesa{
    		color: rgba(84,12,124, .75);
    		font-size: 2.2rem;
    		font-weight: 600;
    		text-align: center;
    		padding: 3.5rem 0 0 0;
    	}

    	.ps_mesa{
    		font-size: 16rem;
    		text-align: center;
    		padding: .7rem;
    		color: rgb(84,12,124);
    		font-weight: 700;
    	}
    	.ps_ult_senha_ch{
            background: rgb(84, 12, 124);
            background: -moz-linear-gradient(30deg, rgb(84, 12, 124) 30%, rgb(84, 12, 94) 70%);
            background: -webkit-linear-gradient(30deg, rgb(84, 12, 124) 30%, rgb(84, 12, 94) 70%);
            background: -o-linear-gradient(30deg, rgb(84, 12, 124) 30%, rgb(84, 12, 94) 70%);
            background: -ms-linear-gradient(30deg, rgb(84, 12, 124) 30%, rgb(84, 12, 94) 70%);
            background: linear-gradient(120deg, rgb(84, 12, 124) 30%, rgb(84, 12, 94) 70%);
    	}

    	.ps_info_senha_ant{
    		padding-top: .5rem;
    		color: rgba(255, 255, 255, .9);
    		font-size: 1.2rem;
    		text-align: left;
    		font-weight: 600;
    	}
    	.ps_senha_ant{
    		color: white;
    		font-size: 3.5rem;
    		font-weight: 700;
    	}
    	.ps_org_an_info{
    		color: rgba(255, 255, 255, .8);
    		font-size: 1.2rem;
    		font-weight: 600;
    	}
    	.ps_org_an{
    		color: rgba(255, 255, 255, 1);
    		font-size: 1.5rem;
    		font-weight: 700;
    	}

        .ps_pref_an{
            padding-top: .5rem;
            color: rgba(255, 255, 255, 1);
            font-size: 1.8rem;
            padding-left: 1rem;
            text-align: left;
            font-weight: 700;
        }
@media(max-width: 1366px){
    .ps_senha, .ps_mesa{
        font-size: 8rem;
    }
    .ps_inf_senha,.ps_inf_orgao, .ps_inf_mesa {
        font-size: 1.4rem;
    }
    .ps_orgao{
        font-size: 3rem;
    }
    .ps_fs_h1{
        font-size:  1.5rem;
    }

    .ps_ult_chamadas{
        font-size:  1.4rem;
    }

    .ps_info_senha_ant{
        font-size:  1rem;
    }

    .ps_pref_an{
        font-size:  1.3rem;
    }

    .ps_senha_ant{
        font-size:  2rem;
    }
    .ps_org_an_info, .ps_pref_an{
        font-size:  .8rem;
    }
}

@-webkit-keyframes flash{
    0%,50%,to{
        opacity:1
    }
    25%,75%{
        opacity:0
    }
}
@keyframes flash{
    0%,50%,to{
        opacity:1
    }
    25%,75%{
        opacity:0
    }
}
.piscar{
    -webkit-animation-name:flash;
    animation-name:flash;
    -webkit-animation-duration:1s;
    animation-duration:1s;
}


